<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <project>

        <settings>
            <config>
                <section name="templateAvadaAgency.settings">

                    <!--<conf name="bgColorSwitcherPrefix">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>hide</defaultvalue>
                    </conf>
                    <conf name="bgColorSwitcherSuffix">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>hide</defaultvalue>
                    </conf>-->

                    <!-- nav bar -->
                    <conf name="navBarMainColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#2d4d88</defaultvalue>
                    </conf>
                    <conf name="navBarFontColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#ffffff</defaultvalue>
                    </conf>

                    <!-- show header -->
                    <conf name="showHeaderStartPage">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="showHeaderNoSidebar">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="showHeaderLeftSidebar">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="showHeaderRightSidebar">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>

                    <!-- show breadcrumb -->
                    <conf name="showBreadcrumbStartPage">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="showBreadcrumbNoSidebar">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="showBreadcrumbLeftSidebar">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="showBreadcrumbRightSidebar">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>

                    <!-- header img height and value  -->
                    <conf name="headerHeight">
                        <type><![CDATA[integer]]></type>
                        <defaultvalue>170</defaultvalue>
                    </conf>
                    <conf name="headerImagePosition">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>center</defaultvalue>
                    </conf>

                    <!-- colors -->
                    <conf name="colorMain">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#2D4D88</defaultvalue>
                    </conf>
                    <conf name="buttonFontColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#ffffff</defaultvalue>
                    </conf>
                    <conf name="colorFooterBackground">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#eeeeee</defaultvalue>
                    </conf>
                    <conf name="colorFooterFont">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#333333</defaultvalue>
                    </conf>
                    <conf name="colorFooterLinks">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#333333</defaultvalue>
                    </conf>
                    <conf name="colorMainContentBg">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#ffffff</defaultvalue>
                    </conf>
                    <conf name="colorMainContentFont">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#333333</defaultvalue>
                    </conf>

                    <!-- social -->
                    <conf name="social.show.nav">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="social.show.footer">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="social.facebook">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="social.twitter">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="social.google">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="social.youtube">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="social.github">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="social.gitlab">
                        <type><![CDATA[string]]></type>
                    </conf>
                </section>
            </config>

            <window>
                <categories>
                    <category name="templateAvadaAgency">
                        <text>
                            <locale group="quiqqer/template-avadaagency"
                                    var="settings.menu.title"
                                    />
                        </text>
                        <icon>URL_BIN_DIR/22x22/quiqqer.png</icon>


                        <!-- Background Color Switcher Prefix / Suffix -->
                        <settings title="templateAvadaAgency.settings"
                                  name="templateAvadaAgency.settings.bgColorSwitcher">
                            <title>
                                <locale group="quiqqer/template-avadaagency"
                                        var="settings.bgColorSwitcher.title"
                                        />
                            </title>

                            <!-- Background Color Switcher Prefix -->
                            <select conf="templateAvadaAgency.settings.bgColorSwitcherPrefix">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.bgColorSwitcherPrefix.text"
                                            />
                                </text>

                                <description>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.bgColorSwitcherPrefix.description"
                                            />
                                </description>

                                <option value="hide">
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.bgColorSwitcher.hide"
                                            />
                                </option>
                                <option value="display">
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.bgColorSwitcher.display"
                                            />
                                </option>
                            </select>

                            <!-- Background Color Switcher Suffix-->
                            <select conf="templateAvadaAgency.settings.bgColorSwitcherSuffix">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.bgColorSwitcherSuffix.text"
                                    />
                                </text>

                                <description>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.bgColorSwitcherSuffix.description"
                                    />
                                </description>

                                <option value="hide">
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.bgColorSwitcher.hide"
                                    />
                                </option>
                                <option value="display">
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.bgColorSwitcher.display"
                                    />
                                </option>
                            </select>

                        </settings>


                        <!-- header settings -->
                        <settings title="templateAvadaAgency.settings"
                                  name="templateAvadaAgency.header.settings">
                            <title>
                                <locale group="quiqqer/template-avadaagency"
                                        var="header.settings.title"
                                        />
                            </title>

                            <!-- no header? -->
                            <text>
                                <locale group="quiqqer/template-avadaagency"
                                        var="showHeader.text" />
                            </text>
                            <input conf="templateAvadaAgency.settings.showHeaderStartPage"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="showHeaderStartPage.text"
                                    />
                                </text>
                            </input>
                            <input conf="templateAvadaAgency.settings.showHeaderNoSidebar"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="showHeaderNoSidebar.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateAvadaAgency.settings.showHeaderLeftSidebar"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="showHeaderLeftSidebar.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateAvadaAgency.settings.showHeaderRightSidebar"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="showHeaderRightSidebar.text"
                                            />
                                </text>
                            </input>

                            <!-- header height and value -->
                            <text>
                                <locale group="quiqqer/template-avadaagency"
                                        var="header.settings.height.text"
                                />
                            </text>
                            <input conf="templateAvadaAgency.settings.headerHeight" type="number">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="header.settings.height.text"
                                    />
                                </text>
                            </input>

                            <select conf="templateAvadaAgency.settings.headerImagePosition">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.headerImagePosition.text"
                                    />
                                </text>

                                <option value="flex-start">
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.headerImagePosition.start"
                                    />
                                </option>
                                <option value="center">
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.headerImagePosition.center"
                                    />
                                </option>
                                <option value="flex-end">
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.headerImagePosition.end"
                                    />
                                </option>
                            </select>
                        </settings>





                        <!-- nav bar -->
                        <settings title="templateAvadaAgency.settings"
                                  name="templateAvadaAgency.settings.navBar">
                            <title>
                                <locale group="quiqqer/template-avadaagency"
                                        var="settings.navBar.title"
                                />
                            </title>


                            <!-- nav bar / menu colors -->
                            <input conf="templateAvadaAgency.settings.navBarMainColor"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.navBarMainColor.text"
                                    />
                                </text>
                            </input>
                            <input conf="templateAvadaAgency.settings.navBarFontColor"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.navBarFontColor.text"
                                    />
                                </text>
                            </input>

                           

                        </settings>

                        <!-- Colors -->
                        <settings title="templateAvadaAgency.settings"
                                  name="templateAvadaAgency.settings.color">
                            <title>
                                <locale group="quiqqer/template-avadaagency"
                                        var="settings.color.title"
                                        />
                            </title>

                            <input conf="templateAvadaAgency.settings.colorMain"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="template.settings.colorMain.text"
                                            />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="template.settings.colorMain.description"
                                            />
                                </description>
                            </input>

                            <input conf="templateAvadaAgency.settings.buttonFontColor"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="template.settings.buttonFontColor.text"
                                    />
                                </text>
                            </input>

                            <text>
                                <locale group="quiqqer/template-avadaagency"
                                        var="settings.footerColor.text"
                                />
                            </text>
                            <input conf="templateAvadaAgency.settings.colorFooterBackground"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="template.settings.colorFooterBackground.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateAvadaAgency.settings.colorFooterFont"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="template.settings.colorFooterFont.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateAvadaAgency.settings.colorFooterLinks"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="template.settings.colorFooterLinks.text"
                                            />
                                </text>
                            </input>

                            <text>
                                <locale group="quiqqer/template-avadaagency"
                                        var="settings.contentColor.text"
                                />
                            </text>

                            <input conf="templateAvadaAgency.settings.colorMainContentBg"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="template.settings.colorMainContentBackground.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateAvadaAgency.settings.colorMainContentFont"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="template.settings.colorMainContentFont.text"
                                            />
                                </text>
                            </input>

                        </settings>

                        <!-- social icons -->
                        <settings title="templateAvadaAgency.settings"
                                  name="templateAvadaAgency.social.settings">
                            <title>
                                <locale group="quiqqer/template-avadaagency"
                                        var="social.settings.title"
                                />
                            </title>

                            <!-- show social on nav? -->
                            <input conf="templateAvadaAgency.settings.social.show.nav"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="social.show.nav"
                                    />
                                </text>
                            </input>

                            <!-- show social on the footer? -->
                            <input conf="templateAvadaAgency.settings.social.show.footer"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="social.show.footer"
                                    />
                                </text>
                            </input>

                            <text>
                                <locale group="quiqqer/template-avadaagency"
                                        var="social.linksNote"
                                />
                            </text>

                            <!-- facebook -->
                            <input conf="templateAvadaAgency.settings.social.facebook"
                                   placeholder="https://www.facebook.com"
                                   type="text">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="social.facebook"
                                    />
                                </text>
                            </input>
                            <!-- twitter -->
                            <input conf="templateAvadaAgency.settings.social.twitter"
                                   placeholder="https://www.twitter.com"
                                   type="text">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="social.twitter"
                                    />
                                </text>
                            </input>
                            <!-- google -->
                            <input conf="templateAvadaAgency.settings.social.google"
                                   placeholder="https://www.google.com"
                                   type="text">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="social.google"
                                    />
                                </text>
                            </input>
                            <!-- youtube -->
                            <input conf="templateAvadaAgency.settings.social.youtube"
                                   placeholder="https://www.youtube.com"
                                   type="text">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="social.youtube"
                                    />
                                </text>
                            </input>
                            <!-- github -->
                            <input conf="templateAvadaAgency.settings.social.github"
                                   placeholder="https://www.github.com"
                                   type="text">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="social.github"
                                    />
                                </text>
                            </input>
                            <!-- gitlab -->
                            <input conf="templateAvadaAgency.settings.social.gitlab"
                                   placeholder="https://www.gitlab.com"
                                   type="text">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="social.gitlab"
                                    />
                                </text>
                            </input>
                        </settings>

                    </category>
                </categories>

            </window>
        </settings>

        <wysiwyg class="page-content">
            <css src="URL_OPT_DIR/quiqqer/template-avadaagency/bin/css/avada-agency.css"/>
            <css src="URL_OPT_DIR/quiqqer/template-avadaagency/bin/css/fonts.css"/>
            <css src="URL_OPT_DIR/quiqqer/template-avadaagency/bin/css/style.css"/>
            <css src="URL_OPT_DIR/quiqqer/template-avadaagency/bin/css/editor.css"/>
        </wysiwyg>

    </project>
</quiqqer>