<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <project>

        <settings>
            <config>
                <section name="templateAvadaAgency.settings">

                    <!--<conf name="bgColorSwitcherPrefix">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>hide</defaultvalue>
                    </conf>
                    <conf name="bgColorSwitcherSuffix">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>hide</defaultvalue>
                    </conf>-->

                    <!-- nav bar -->
                    <conf name="navBarBgColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#ffffff</defaultvalue>
                    </conf>
                    <conf name="navBarFontColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#969595</defaultvalue>
                    </conf>

                    <!-- show header -->
                    <conf name="showHeaderStartPage">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="showHeaderNoSidebar">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="showHeaderNoSidebarSmall">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="showHeaderLeftSidebar">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="showHeaderRightSidebar">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>

                    <!-- header img height and value  -->
                    <conf name="headerHeight">
                        <type><![CDATA[integer]]></type>
                        <defaultvalue>170</defaultvalue>
                    </conf>
                    <conf name="headerImagePosition">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>center</defaultvalue>
                    </conf>

                    <!-- colors -->
                    <conf name="colorMain">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#2D4D88</defaultvalue>
                    </conf>
                    <conf name="buttonFontColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#ffffff</defaultvalue>
                    </conf>
                    <conf name="colorFooterBackground">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#313131</defaultvalue>
                    </conf>
                    <conf name="colorFooterFont">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#969595</defaultvalue>
                    </conf>
                    <conf name="colorFooterLinks">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#dddddd</defaultvalue>
                    </conf>
                </section>

                <!-- footer -->
                <section name="templateAvadaAgency.settings.footer">
                    <conf name="showFooterNav">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                </section>

                <!-- footer template -->
                <section name="templateAvadaAgency.settings.footerTemplate">
                    <conf name="enable">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <!-- links box -->
                    <conf name="linksBox.show">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="linksBox.title">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="linksBox.priority">
                        <type><![CDATA[number]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="linksBox.sites">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="linksBox.sites.order">
                        <type><![CDATA[number]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <!-- links box second -->
                    <conf name="linksBoxMore.show">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="linksBoxMore.title">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="linksBoxMore.priority">
                        <type><![CDATA[number]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="linksBoxMore.sites">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="linksBoxMore.sites.order">
                        <type><![CDATA[number]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <!-- recent -->
                    <conf name="recent.show">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="recent.title">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="recent.priority">
                        <type><![CDATA[number]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="recent.sites">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="recent.limit">
                        <type><![CDATA[number]]></type>
                        <defaultvalue>2</defaultvalue>
                    </conf>
                    <conf name="recent.sites.order">
                        <type><![CDATA[number]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <!-- short text -->
                    <conf name="shortText.show">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="shortText.title">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="shortText.content">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="shortText.priority">
                        <type><![CDATA[number]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                </section>
            </config>

            <window>
                <categories>
                    <category name="templateAvadaAgency">
                        <text>
                            <locale group="quiqqer/template-avadaagency"
                                    var="settings.menu.title"
                                    />
                        </text>
                        <icon>URL_BIN_DIR/22x22/quiqqer.png</icon>


                        <!-- Background Color Switcher Prefix / Suffix -->
                        <settings title="templateAvadaAgency.settings"
                                  name="templateAvadaAgency.settings.bgColorSwitcher">
                            <title>
                                <locale group="quiqqer/template-avadaagency"
                                        var="settings.bgColorSwitcher.title"
                                        />
                            </title>

                            <!-- Background Color Switcher Prefix -->
                            <select conf="templateAvadaAgency.settings.bgColorSwitcherPrefix">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.bgColorSwitcherPrefix.text"
                                            />
                                </text>

                                <description>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.bgColorSwitcherPrefix.description"
                                            />
                                </description>

                                <option value="hide">
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.bgColorSwitcher.hide"
                                            />
                                </option>
                                <option value="display">
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.bgColorSwitcher.display"
                                            />
                                </option>
                            </select>

                            <!-- Background Color Switcher Suffix-->
                            <select conf="templateAvadaAgency.settings.bgColorSwitcherSuffix">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.bgColorSwitcherSuffix.text"
                                    />
                                </text>

                                <description>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.bgColorSwitcherSuffix.description"
                                    />
                                </description>

                                <option value="hide">
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.bgColorSwitcher.hide"
                                    />
                                </option>
                                <option value="display">
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.bgColorSwitcher.display"
                                    />
                                </option>
                            </select>

                        </settings>


                        <!-- header settings -->
                        <settings title="templateAvadaAgency.settings"
                                  name="templateAvadaAgency.header.settings">
                            <title>
                                <locale group="quiqqer/template-avadaagency"
                                        var="header.settings.title"
                                        />
                            </title>

                            <!-- no header? -->
                            <text>
                                <locale group="quiqqer/template-avadaagency"
                                        var="showHeader.text" />
                            </text>
                            <input conf="templateAvadaAgency.settings.showHeaderStartPage"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="showHeaderStartPage.text"
                                    />
                                </text>
                            </input>
                            <input conf="templateAvadaAgency.settings.showHeaderNoSidebar"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="showHeaderNoSidebar.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateAvadaAgency.settings.showHeaderNoSidebarSmall"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="showHeaderNoSidebarSmall.text"
                                    />
                                </text>
                            </input>
                            <input conf="templateAvadaAgency.settings.showHeaderLeftSidebar"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="showHeaderLeftSidebar.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateAvadaAgency.settings.showHeaderRightSidebar"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="showHeaderRightSidebar.text"
                                            />
                                </text>
                            </input>

                            <!-- header height -->
                            <input conf="templateAvadaAgency.settings.headerHeight" type="number">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="header.settings.height.text"
                                    />
                                </text>
                            </input>

                            <select conf="templateAvadaAgency.settings.headerImagePosition">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.headerImagePosition.text"
                                    />
                                </text>

                                <option value="flex-start">
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.headerImagePosition.start"
                                    />
                                </option>
                                <option value="center">
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.headerImagePosition.center"
                                    />
                                </option>
                                <option value="flex-end">
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.headerImagePosition.end"
                                    />
                                </option>
                            </select>
                        </settings>

                        <!-- nav bar -->
                        <settings title="templateAvadaAgency.settings"
                                  name="templateAvadaAgency.settings.navBar">
                            <title>
                                <locale group="quiqqer/template-avadaagency"
                                        var="settings.navBar.title"
                                />
                            </title>

                            <!-- nav bar / menu colors -->
                            <input conf="templateAvadaAgency.settings.navBarBgColor"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.navBarBgColor.text"
                                    />
                                </text>
                            </input>
                            <input conf="templateAvadaAgency.settings.navBarFontColor"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.navBarFontColor.text"
                                    />
                                </text>
                            </input>
                        </settings>

                        <!-- footer settings -->
                        <settings title="templateAvadaAgency.settings"
                                  name="templateAvadaAgency.settings.footer" data-table-closed="true">
                            <title>
                                <locale group="quiqqer/template-avadaagency"
                                        var="settings.footer.title"
                                />
                            </title>

                            <input conf="templateAvadaAgency.settings.footer.showFooterNav"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footer.showFooterNav.text"
                                    />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footer.showFooterNav.desc"
                                    />
                                </description>
                            </input>

                            <input conf="templateAvadaAgency.settings.footerTemplate.enable"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.enable.text"
                                    />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.enable.desc"
                                    />
                                </description>
                            </input>
                        </settings>

                        <!-- Footer template: Box with URLs -->
                        <settings title="templateAvadaAgency.settings"
                                  name="templateAvadaAgency.settings.footerTemplate">
                            <title>
                                <locale group="quiqqer/template-avadaagency"
                                        var="settings.footerTemplate.linksBox"
                                />
                            </title>

                            <!-- show -->
                            <input conf="templateAvadaAgency.settings.footerTemplate.linksBox.show"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.linksBox.show"
                                    />
                                </text>
                            </input>
                            <!-- title -->
                            <input  conf="templateAvadaAgency.settings.footerTemplate.linksBox.title"
                                    type="text">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.linksBox.title"
                                    />
                                </text>
                            </input>
                            <!-- priority -->
                            <input conf="templateAvadaAgency.settings.footerTemplate.linksBox.priority"
                                   type="number">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.linksBox.priority"
                                    />
                                </text>
                            </input>
                            <!-- sites -->
                            <input  conf="templateAvadaAgency.settings.footerTemplate.linksBox.sites"
                                    type="text" data-qui="controls/projects/project/site/Select">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.linksBox.sites"
                                    />
                                </text>
                            </input>
                            <!-- site order -->
                            <select conf="templateAvadaAgency.settings.footerTemplate.linksBox.sites.order">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.linksBox.sites.order"
                                    />
                                </text>

                                <option value=""/>
                                <option value="name ASC" selected="selected">
                                    <locale group="quiqqer/system" var="name_asc"/>
                                </option>
                                <option value="name DESC">
                                    <locale group="quiqqer/system" var="name_desc"/>
                                </option>
                                <option value="title ASC">
                                    <locale group="quiqqer/system" var="title_asc"/>
                                </option>
                                <option value="title DESC">
                                    <locale group="quiqqer/system" var="title_desc"/>
                                </option>
                                <option value="c_date ASC">
                                    <locale group="quiqqer/system" var="c_date_asc"/>
                                </option>
                                <option value="c_date DESC">
                                    <locale group="quiqqer/system" var="c_date_desc"/>
                                </option>
                                <option value="e_date ASC">
                                    <locale group="quiqqer/system" var="e_date_asc"/>
                                </option>
                                <option value="e_date DESC">
                                    <locale group="quiqqer/system" var="e_date_desc"/>
                                </option>
                                <option value="release_from ASC">
                                    <locale group="quiqqer/system" var="release_from_asc"/>
                                </option>
                                <option value="release_from DESC">
                                    <locale group="quiqqer/system" var="release_from_desc"/>
                                </option>
                                <option value="order_field ASC">
                                    <locale group="quiqqer/quiqqer" var="order_field_asc"/>
                                </option>
                                <option value="order_field DESC">
                                    <locale group="quiqqer/quiqqer" var="order_field_desc"/>
                                </option>
                            </select>
                        </settings>

                        <!-- Footer template: Second box with URLs -->
                        <settings title="templateAvadaAgency.settings"
                                  name="templateAvadaAgency.settings.footerTemplate">
                            <title>
                                <locale group="quiqqer/template-avadaagency"
                                        var="settings.footerTemplate.linksBoxMore"
                                />
                            </title>

                            <!-- show -->
                            <input conf="templateAvadaAgency.settings.footerTemplate.linksBoxMore.show"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.linksBox.show"
                                    />
                                </text>
                            </input>
                            <!-- title -->
                            <input  conf="templateAvadaAgency.settings.footerTemplate.linksBoxMore.title"
                                    type="text">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.linksBox.title"
                                    />
                                </text>
                            </input>
                            <!-- priority -->
                            <input conf="templateAvadaAgency.settings.footerTemplate.linksBoxMore.priority"
                                   type="number">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.linksBox.priority"
                                    />
                                </text>
                            </input>
                            <!-- sites -->
                            <input  conf="templateAvadaAgency.settings.footerTemplate.linksBoxMore.sites"
                                    type="text" data-qui="controls/projects/project/site/Select">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.linksBox.sites"
                                    />
                                </text>
                            </input>
                            <!-- site order -->
                            <select conf="templateAvadaAgency.settings.footerTemplate.linksBoxMore.sites.order">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.linksBox.sites.order"
                                    />
                                </text>

                                <option value=""/>
                                <option value="name ASC" selected="selected">
                                    <locale group="quiqqer/system" var="name_asc"/>
                                </option>
                                <option value="name DESC">
                                    <locale group="quiqqer/system" var="name_desc"/>
                                </option>
                                <option value="title ASC">
                                    <locale group="quiqqer/system" var="title_asc"/>
                                </option>
                                <option value="title DESC">
                                    <locale group="quiqqer/system" var="title_desc"/>
                                </option>
                                <option value="c_date ASC">
                                    <locale group="quiqqer/system" var="c_date_asc"/>
                                </option>
                                <option value="c_date DESC">
                                    <locale group="quiqqer/system" var="c_date_desc"/>
                                </option>
                                <option value="e_date ASC">
                                    <locale group="quiqqer/system" var="e_date_asc"/>
                                </option>
                                <option value="e_date DESC">
                                    <locale group="quiqqer/system" var="e_date_desc"/>
                                </option>
                                <option value="release_from ASC">
                                    <locale group="quiqqer/system" var="release_from_asc"/>
                                </option>
                                <option value="release_from DESC">
                                    <locale group="quiqqer/system" var="release_from_desc"/>
                                </option>
                                <option value="order_field ASC">
                                    <locale group="quiqqer/quiqqer" var="order_field_asc"/>
                                </option>
                                <option value="order_field DESC">
                                    <locale group="quiqqer/quiqqer" var="order_field_desc"/>
                                </option>
                            </select>
                        </settings>

                        <!-- Footer template: recent (news / blog) -->
                        <settings title="templateAvadaAgency.settings"
                                  name="templateAvadaAgency.settings.footerTemplate">
                            <title>
                                <locale group="quiqqer/template-avadaagency"
                                        var="settings.footerTemplate.recent"
                                />
                            </title>
                            <!-- show -->
                            <input conf="templateAvadaAgency.settings.footerTemplate.recent.show"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.recent.show"
                                    />
                                </text>
                            </input>
                            <!-- title -->
                            <input  conf="templateAvadaAgency.settings.footerTemplate.recent.title"
                                    type="text">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.recent.title"
                                    />
                                </text>
                            </input>
                            <!-- priority -->
                            <input conf="templateAvadaAgency.settings.footerTemplate.recent.priority"
                                   type="number">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.recent.priority"
                                    />
                                </text>
                            </input>
                            <!-- sites -->
                            <input  conf="templateAvadaAgency.settings.footerTemplate.recent.sites"
                                    type="text" data-qui="controls/projects/project/site/Select">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.recent.sites"
                                    />
                                </text>
                            </input>
                            <!-- limit -->
                            <input conf="templateAvadaAgency.settings.footerTemplate.recent.limit"
                                   type="number">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.recent.limit"
                                    />
                                </text>
                            </input>
                            <!-- site order -->
                            <select conf="templateAvadaAgency.settings.footerTemplate.recent.sites.order">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.recent.sites.order"
                                    />
                                </text>

                                <option value=""/>
                                <option value="name ASC" selected="selected">
                                    <locale group="quiqqer/system" var="name_asc"/>
                                </option>
                                <option value="name DESC">
                                    <locale group="quiqqer/system" var="name_desc"/>
                                </option>
                                <option value="title ASC">
                                    <locale group="quiqqer/system" var="title_asc"/>
                                </option>
                                <option value="title DESC">
                                    <locale group="quiqqer/system" var="title_desc"/>
                                </option>
                                <option value="c_date ASC">
                                    <locale group="quiqqer/system" var="c_date_asc"/>
                                </option>
                                <option value="c_date DESC">
                                    <locale group="quiqqer/system" var="c_date_desc"/>
                                </option>
                                <option value="e_date ASC">
                                    <locale group="quiqqer/system" var="e_date_asc"/>
                                </option>
                                <option value="e_date DESC">
                                    <locale group="quiqqer/system" var="e_date_desc"/>
                                </option>
                                <option value="release_from ASC">
                                    <locale group="quiqqer/system" var="release_from_asc"/>
                                </option>
                                <option value="release_from DESC">
                                    <locale group="quiqqer/system" var="release_from_desc"/>
                                </option>
                                <option value="order_field ASC">
                                    <locale group="quiqqer/quiqqer" var="order_field_asc"/>
                                </option>
                                <option value="order_field DESC">
                                    <locale group="quiqqer/quiqqer" var="order_field_desc"/>
                                </option>
                            </select>
                        </settings>

                        <!-- Footer template: Short text -->
                        <settings title="templateAvadaAgency.settings"
                                  name="templateAvadaAgency.settings.footerTemplate">
                            <title>
                                <locale group="quiqqer/template-avadaagency"
                                        var="settings.footerTemplate.shortText"
                                />
                            </title>
                            <!-- show -->
                            <input conf="templateAvadaAgency.settings.footerTemplate.shortText.show"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.shortText.show"
                                    />
                                </text>
                            </input>
                            <!-- title -->
                            <input  conf="templateAvadaAgency.settings.footerTemplate.shortText.title"
                                    type="text">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.shortText.title"
                                    />
                                </text>
                            </input>
                            <!-- priority -->
                            <textarea conf="templateAvadaAgency.settings.footerTemplate.shortText.content"
                                   type="text">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.shortText.content"
                                    />
                                </text>
                            </textarea>
                            <!-- priority -->
                            <input conf="templateAvadaAgency.settings.footerTemplate.shortText.priority"
                                   type="number">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="settings.footerTemplate.shortText.priority"
                                    />
                                </text>
                            </input>
                        </settings>

                        <!-- Colors -->
                        <settings title="templateAvadaAgency.settings"
                                  name="templateAvadaAgency.settings.color">
                            <title>
                                <locale group="quiqqer/template-avadaagency"
                                        var="settings.color.title"
                                        />
                            </title>

                            <input conf="templateAvadaAgency.settings.colorMain"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="template.settings.colorMain.text"
                                            />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="template.settings.colorMain.description"
                                            />
                                </description>
                            </input>

                            <input conf="templateAvadaAgency.settings.buttonFontColor"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="template.settings.buttonFontColor.text"
                                    />
                                </text>
                            </input>

                            <text>
                                <locale group="quiqqer/template-avadaagency"
                                        var="settings.footerColor.text"
                                />
                            </text>
                            <input conf="templateAvadaAgency.settings.colorFooterBackground"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="template.settings.colorFooterBackground.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateAvadaAgency.settings.colorFooterFont"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="template.settings.colorFooterFont.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateAvadaAgency.settings.colorFooterLinks"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-avadaagency"
                                            var="template.settings.colorFooterLinks.text"
                                            />
                                </text>
                            </input>
                        </settings>
                    </category>
                </categories>

            </window>
        </settings>

        <wysiwyg class="page-content">
            <css src="URL_OPT_DIR/quiqqer/bootstrap/bin/css/bootstrap.css"/>
            <css src="URL_OPT_DIR/quiqqer/bootstrap/bin/css/unsemantic-wrapper.css"/>
            <css src="URL_OPT_DIR/quiqqer/template-avadaagency/bin/css/fonts.css"/>
            <css src="URL_OPT_DIR/quiqqer/template-avadaagency/bin/css/animate.css"/>
            <css src="URL_OPT_DIR/quiqqer/template-avadaagency/bin/css/avada-agency.css"/>
            <css src="URL_OPT_DIR/quiqqer/template-avadaagency/bin/css/style.css"/>
            <css src="URL_OPT_DIR/quiqqer/template-avadaagency/bin/css/editor.css"/>
        </wysiwyg>

    </project>
</quiqqer>