.navbar-brand img {
    max-height: 200%;
}

section {
    padding: 0;
}

header {
    margin-bottom: 1.3em;
}

h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
    margin-top: 0;
}

.template-section {
    padding: 1.7129em 0;
}

.start-page .template-section {
    padding: 5.6285em 0;
}

.no-padding,
.template-section.no-padding {
    padding-bottom: 0;
    padding-top: 0;
}

/***************/
/* page footer */
/***************/
.page-footer-copyright {
    font-size: 12px;
}

/***************/
/* page header */
/***************/
.page-head {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-head .header-wrapper {
    align-items: center;
    display: flex;
    height: 170px; /* default, can be overwritten by template settings */
    padding: 0;
}

/**********************/
/* quiqqer breadcrumb */
/**********************/
.quiqqer-breadcrumb-list {
    background-color: transparent;
    float: right;
    font-size: 15px;
    text-transform: uppercase;
}

.quiqqer-breadcrumb .quiqqer-breadcrumb-title {
    display: none;
}

.quiqqer-breadcrumb-list li:first-child .fa {
    display: none;
}

.quiqqer-breadcrumb-list a {
    color: #C7C4C0;
}

.quiqqer-breadcrumb-list a:hover {
    color: #ffffff;
}

.quiqqer-breadcrumb-list li:last-child a .quiqqer-breadcrumb-link-text {
    color: #fff;
}