.navbar-brand img {
    max-height: 200%;
}

section {
    padding: 0;
}

header {
    margin-bottom: 1.3em;
}

a header {
    margin-bottom: 0;
}

a.btn,
a.button {
    fold-weight: normal;
    text-decoration: none;
}

button,
.button {
    border: 1px solid #000;
    border-radius: 0;
    padding: 10px 25px;
    text-transform: uppercase;
}

.page-head {
    margin-bottom: 0;
}

h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
    margin-top: 0;
}

img {
    max-width: 100%;
}

input,
select,
textarea {
    outline: none;
}

textarea {
    min-height: 160px;
}

label {
    font-weight: normal;
}

.template-section,
.content-template  {
    padding-bottom: 1.7129em;
    padding-top: 1.7129em;
}

.content-body {
    padding-bottom: 1.7129em;
}

.start-page .template-section {
    padding-bottom: 4.6285em;
    padding-top: 4.6285em;
}

.no-padding,
.template-section.no-padding {
    padding-bottom: 0;
    padding-top: 0;
}



/***************/
/* page footer */
/***************/
.page-footer-wrapper {
    background-size: cover;
    background-position: center;
}

.page-footer-copyright {
    font-size: 12px;
}

.page-footer .container:not(:first-child) {
    margin-top: 30px;
}

/* template footer */
.footer-widget {
    flex: 1 0 auto;
}

.footer-news-image .fa {
    font-size: 2em;
}

.page-footer a,
.footer-nav li a {
    transition: unset;
}

/**************/
/* navigation */
/**************/
#mainNavigation {
    border-radius: 0;
    border: none;
}

#mainNavigation .navbar-brand {
    height: 70px;
    padding: 5px 15px;
}

#mainNavigation .navbar-brand a {
    display: flex;
    align-items: center;
    height: 100%;
}

#mainNavigation .navbar-nav li a {
    transition: unset;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

/***************/
/* page header */
/***************/
.page-head {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-head .header-wrapper {
    align-items: center;
    display: flex;
    height: 170px; /* default, can be overwritten by template settings */
    padding: 0;
}

/**********************/
/* quiqqer breadcrumb */
/**********************/
.page-head .quiqqer-breadcrumb-list {
    background-color: transparent;
    float: right;
    font-size: 15px;
    text-transform: uppercase;
}

.page-head .quiqqer-breadcrumb .quiqqer-breadcrumb-title {
    display: none;
}

.page-head .quiqqer-breadcrumb-list li:first-child .fa {
    display: none;
}

.page-head .quiqqer-breadcrumb-list a {
    color: #C7C4C0;
}

.page-head .quiqqer-breadcrumb-list a:hover {
    color: #ffffff;
}

.page-head .quiqqer-breadcrumb-list li:last-child a .quiqqer-breadcrumb-link-text {
    color: #fff;
}

/* breadcrumb under the header */
.breadcrumb-under-header {
    border-bottom: 1px solid #ddd;
    font-size: 0.9rem;
}

/***********/
/* contact */
/***********/
.quiqqer-simple-contact-button {
    margin-top: 2em;
}

/*********************************************************************************/
/* search site types
/*********************************************************************************/

/* hide top pagination */
.qui-search-result-list .quiqqer-pagination:first-child {
    display: none;
}

.qui-search-result form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
}

.qui-search-result .form-field-search {
    flex-grow: 3;
    margin: 10px;
    min-width: auto;
}

.qui-search-result input[type="submit"] {
    flex-grow: 1;
    margin: 10px;
    order: 3;
}

/****************************/
/* site type gallery (grid) */
/****************************/
/* disable top pagination */
.quiqqer-gallery-grid .quiqqer-pagination:first-child {
    display: none;
}

.quiqqer-gallery-grid-entry-text {
    text-align: center;
}

.quiqqer-gallery-grid-list .quiqqer-gallery-grid-entry-text {
    padding-top: 8px;
    padding-bottom: 8px;
}

.quiqqer-gallery-grid .quiqqer-gallery-grid-entry {
    width: 33.333%;
    margin: 0 !important;
    border: 2px solid #fff;
    overflow: hidden;
    padding: 0;
}

.quiqqer-gallery-grid .quiqqer-gallery-grid-entry-image {
    height: 200px;
}

.quiqqer-gallery-grid .quiqqer-gallery-grid-entry-image img {
    height: 200px;
    object-fit: cover;
}

.quiqqer-gallery-grid .quiqqer-gallery-grid-entry-text {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.2s all;
    opacity: 1;
    color: #fff;
    transform: translateY(100%);
}

.quiqqer-gallery-grid-entry:hover .quiqqer-gallery-grid-entry-text {
    transform: translateY(0);
}

/**************/
/* pagination */
/**************/
.quiqqer-sheets-desktop {
    border-radius: 4px;
    display: flex;
    margin: 20px 0;
    padding-left: 0;
    justify-content: center;
}

.quiqqer-sheets-desktop > a,
.quiqqer-sheets-desktop > span {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #337ab7;
    float: left;
    line-height: 1.42857143;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}

.quiqqer-sheets-desktop > li:first-child > a,
.quiqqer-sheets-desktop > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}

.quiqqer-sheets-desktop > li:last-child > a,
.quiqqer-sheets-desktop > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.quiqqer-sheets-desktop > a:hover,
.quiqqer-sheets-desktop > a:focus {
    background-color: #eee;
    border-color: #ddd;
    color: #23527c;
    z-index: 2;
}

.quiqqer-sheets-desktop > span.quiqqer-sheets-desktop-current,
.quiqqer-sheets-desktop > span.quiqqer-sheets-desktop-current:hover,
.quiqqer-sheets-desktop > span.quiqqer-sheets-desktop-current:focus {
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
    cursor: default;
    z-index: 3;
}

.quiqqer-sheets-desktop > .disabled > span,
.quiqqer-sheets-desktop > .disabled > span:hover,
.quiqqer-sheets-desktop > .disabled > span:focus,
.quiqqer-sheets-desktop > .disabled > a,
.quiqqer-sheets-desktop > .disabled > a:hover,
.quiqqer-sheets-desktop > .disabled > a:focus {
    background-color: #fff;
    border-color: #ddd;
    color: #777;
    cursor: not-allowed;
}

/* avada agency pagination */
.quiqqer-pagination .quiqqer-sheets-desktop > a,
.quiqqer-pagination .quiqqer-sheets-desktop > span {
    border: 2px solid #dadada;
    border-radius: 0px;
    color: #dadada;
    margin-left: 5px;
}

.quiqqer-sheets-desktop > span.quiqqer-sheets-desktop-current,
.quiqqer-sheets-desktop > span.quiqqer-sheets-desktop-current:focus,
.quiqqer-sheets-desktop > span.quiqqer-sheets-desktop-current:hover,
.quiqqer-sheets-desktop > a:focus,
.quiqqer-sheets-desktop > a:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.quiqqer-sheets-desktop > li:last-child > a,
.quiqqer-sheets-desktop > li:last-child > span {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.quiqqer-sheets-desktop > li:first-child > a,
.quiqqer-sheets-desktop > li:first-child > span {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

/*********************************************************************************/
/* content switcher
/*********************************************************************************/

