
{assign var=leftSideBar value=$BricksManager->getBricksByArea('leftSidebar', $Site)}
{assign var=prefixContentBricks value=$BricksManager->getBricksByArea('prefixContentBricks', $Site)}
{assign var=suffixContentBricks value=$BricksManager->getBricksByArea('suffixContentBricks', $Site)}

<div class="page-multible-right col-md-9 col-md-push-3" role="main">

    {if !empty( $prefixContentBricks )}
    {foreach from=$prefixContentBricks item=Brick}
    <div class="template-section clearfix">
        {$Brick->create()}
    </div>
    {/foreach}
    {/if}

    <section class="template-section clearfix">
        <header class="content-header">
            <h1 itemprop="name">
                {$Site->getAttribute('title')}
            </h1>
            {if $Site->getAttribute('short')}
            <div class="content-short" itemprop="description">
                {$Site->getAttribute('short')|nl2br}
            </div>
            {/if}
        </header>

        {$Template->getBody()}
    </section>


    {if !empty( $suffixContentBricks )}
    {foreach from=$suffixContentBricks item=Brick}
    <div class="template-section clearfix">
        {$Brick->create()}
    </div>
    {/foreach}
    {/if}

</div>

<div class="page-multible-left col-md-3 col-md-pull-9 page-sidebar">
    {if !empty( $leftSideBar )}
        {foreach from=$leftSideBar item=Brick}
        <div class="template-section clearfix">
            {$Brick->create()}
        </div>
        {/foreach}
    {else}
        &nbsp;
    {/if}
</div>

