{assign var=noSidebarBricks value=$BricksManager->getBricksByArea('noSidebar', $Site)}
{assign var=prefixContentBricks value=$BricksManager->getBricksByArea('prefixContentBricks', $Site)}
{assign var=suffixContentBricks value=$BricksManager->getBricksByArea('suffixContentBricks', $Site)}

{if !empty( $prefixContentBricks )}
{foreach from=$prefixContentBricks item=Brick}
<div class="template-section clearfix col-md-12">
    {$Brick->create()}
</div>
{/foreach}
{/if}

<section class="template-section clearfix col-md-12">
    {if $showPageTitle || $showPageShort}
    <header class="content-header">
        <h1 itemprop="name">
            {$Site->getAttribute('title')}
        </h1>
        {if $Site->getAttribute('short')}
        <div class="content-short" itemprop="description">
            {$Site->getAttribute('short')|nl2br}
        </div>
        {/if}
    </header>
    {/if}

    {$Template->getBody()}
</section>

{if !empty( $suffixContentBricks )}
{foreach from=$suffixContentBricks item=Brick}
<div class="template-section clearfix col-md-12">
    {$Brick->create()}
</div>
{/foreach}
{/if}