
{assign var=rightSideBar value=$BricksManager->getBricksByArea('rightSidebar', $Site)}
{assign var=prefixContentBricks value=$BricksManager->getBricksByArea('prefixContentBricks', $Site)}
{assign var=suffixContentBricks value=$BricksManager->getBricksByArea('suffixContentBricks', $Site)}

<div class="page-multible-left col-md-9">

    {if !empty( $prefixContentBricks )}
    {foreach from=$prefixContentBricks item=Brick}
    <div class="template-section clearfix">
        {$Brick->create()}
    </div>
    {/foreach}
    {/if}


    <section role="main" class="template-section">
        <header class="content-header">
            <h1 itemprop="name">
                {$Site->getAttribute('title')}
            </h1>
            {if $Site->getAttribute('short')}
            <div class="content-short" itemprop="description">
                {$Site->getAttribute('short')|nl2br}
            </div>
            {/if}
        </header>

        {$Template->getBody()}
    </section>

    {if !empty( $suffixContentBricks )}
    {foreach from=$suffixContentBricks item=Brick}
    <div class="template-section clearfix">
        {$Brick->create()}
    </div>
    {/foreach}
    {/if}
</div>

<div class="page-multible-right col-md-3 page-sidebar">
    {if !empty( $rightSideBar)}
        {foreach from=$rightSideBar item=Brick}
        <div class="template-section clearfix">
            {$Brick->create()}
        </div>
        {/foreach}
    {else}
        &nbsp;
    {/if}
</div>